@model IEnumerable<File>
<div class="wy-list wy-list-bordered">
  @foreach (var file in Model) {
    <a class="wy-item wy-item-lg" asp-controller="@typeof(FileController).ControllerName()" asp-action="@nameof(FileController.Get)" asp-route-id="@file.Id" target="preview" title="@file.Name">
      <icon for="file.Blob" size="48"/>
      <div class="wy-item-body">
        <div class="wy-item-title">@file.Name</div>
        <div class="wy-item-text">@FileUtils.FileSizeAsString(file.Blob.Size)</div>
      </div>
    </a>
  }
</div>

