@model Comment
@{
  var user = Model.CreatedBy();
  var images = Model.Attachments.Where(x => FileUtils.IsImage(x.Blob.Name) && x.ThumbUrl(null, null) != null);
  var files = Model.Attachments.Except(images);
  var options = Model.Options;
  var controller = Model.Parent.Type == EntityType.File ? typeof(FileController).ControllerName() : typeof(PostController).ControllerName();
  var restoreAction = Model.Parent.Type == EntityType.File ? nameof(FileController.RestoreComment) : nameof(PostController.RestoreComment);
}


@if (Model.IsTrashed() && Model.HasPermission(Permission.Delete)) {
  <turbo-frame id="@DomId(Model)" class="wy-comment">
    <form class="wy-item" asp-controller="@controller" asp-action="@restoreAction" asp-route-id="@Model.Id" method="post">
      <div class="wy-item-body">@T["Comment was trashed."]</div>
      <button type="submit" class="wy-button wy-button-variant">@T["Undo"]</button>
    </form>
  </turbo-frame>
} else {
  <turbo-frame id="@DomId(Model)" class="wy-comment">
    <div class="wy-item wy-item-sm wy-comment-header">
      <avatar for="@user" size="32" />
      <div class="wy-item-body">
        <div class="wy-item-title">@user.DisplayName</div>
        <div class="wy-item-text">
          <time datetime="@Model.CreatedAt" format="t" />
          @if (Model.ModifiedAt != Model.CreatedAt) {
            <time datetime="@Model.ModifiedAt" format="t">· @T["Edited"]</time>
          }
        </div>
      </div>
      <div class="wy-item-actions wy-item-actions-top">
        <partial name="_CommentMenu" />
      </div>
    </div>
    <div class="wy-comment-body">
      <div class="wy-comment-content">
        @if (images.Any()) {
          <partial name="_ImageGrid" model="images" />
        }

        @if (Model.Embed != null) {
          <partial name="_Embed" model="Model.Embed" />
        }

        <div class="wy-content">@Html.Raw(Model.Html)</div>

        @if (options.Any()) {
          <partial name="_Poll" model="Model" />
        }

        @if (files.Any()) {
          <partial name="_Attachments" model="files" />
        }

        @if (Model.Meeting != null) {
          <partial name="_Meeting" model="Model.Meeting" />
        }
      </div>
    </div>

    @if (Feature.Reactions.IsEnabledFor(Model)) {
      <div class="wy-reactions-line">
        <partial name="_Reactions" />
        <partial name="_ReactionMenu" />
      </div>
    } else {
      <partial name="_Likes" />
    }

  </turbo-frame>
}


