@model Meeting
@{
  var meetingId = Model.ProviderId.IsNullOrEmpty() ? $"new_{Model.Provider}_meeting" : DomId($"meeting{Model.Id}");
  var provider = Model.Provider;
  var icon = Model.Icon;
  var title = Model.Title;
}
<turbo-frame id="@meetingId">
  @if (!Model.ProviderId.IsNullOrEmpty()) {
    <div class="wy-item">
      <icon name="@icon" />
      <div class="wy-item-title">@title <a href="#" data-action="meetings#signOut" data-meetings-provider-param="@provider">@T["Sign out..."]</a></div>      
      <button type="button" class="wy-button wy-button-icon" data-action="meetings#remove"><icon name="close-circle" /></button>
      <input type="hidden" name="MeetingId" value="@Model.Id" />
    </div>

  } else {
    <div class="wy-item">
      <icon name="@icon" />
      <div class="wy-item-title">Please <a href="#" data-action="meetings#signIn" data-meetings-provider-param="@provider" data-meetings-state-param="/">@T["Sign In"]</a> to add a new @title</div>
      <button type="button" class="wy-button wy-button-icon" data-action="meetings#remove"><icon name="close-circle" /></button>
    </div>
  }
</turbo-frame>


