@model Meeting

<div class="wy-list wy-list-bordered">
  <div class="wy-item wy-meeting">
    <icon name="zoom" color="native" size="48" />
    <div class="wy-item-body">
      <div class="wy-item-title">@T["Zoom meeting"]</div>
      <div class="wy-item-text">
        @if (Model.EndedAt != null) {
          <div>@T["Meeting ended"]: <time>@Model.EndedAt</time> </div>
        } else {
          <div>@T["ID"]: @(System.Text.RegularExpressions.Regex.Replace(Model.ProviderId, @"(\d{3})(\d{3})(\d{4})", "$1-$2-$3"))</div>
        }

        <div class="wy-meeting-actions">
          @if (Model.EndedAt != null) {
            if (Model.RecordingUrl != null) {
              <a href="@Model.RecordingUrl" target="_blank" class="wy-button wy-button-primary">@Svg.Icon("play") @T["Play recording"]</a>
            }
          } else if (Model.CreatedById == WeavyContext.Current.User.Id) {
            <a href="@Model.JoinUrl" target="_blank" class="wy-button wy-button-primary">@T["Start"]</a>
          } else {
            <a href="@Model.JoinUrl" target="_blank" class="wy-button wy-button-primary">@T["Join"]</a>
          }
        </div>
      </div>
    </div>
  </div>
</div>

