@model Meeting
<div class="wy-list wy-list-bordered">
  <div class="wy-item wy-meeting">
    <icon name="microsoft-teams" color="native" size="48" />
    <div class="wy-item-body">
      <div class="wy-item-title">@T["Teams meeting"]</div>
      <div class="wy-item-text">
        @if (Model.EndedAt != null) {
          <div>@T["Ended"]: <time>@Model.EndedAt</time> </div>
        } else {
          <div>@T["ID"]: @Model.ProviderId</div>
        }
                
        <div class="wy-meeting-actions">
          @if (Model.CreatedById == WeavyContext.Current.User.Id) {
            <a href="@Model.JoinUrl" target="_blank" class="wy-button wy-button-primary">@T["Start"]</a>
          } else {
            <a href="@Model.JoinUrl" target="_blank" class="wy-button wy-button-primary">@T["Join"]</a>
          }
        </div>
      </div>
    </div>
  </div>
</div>

