@model Meeting
@{
  var wy = ConfigurationService.ThemePrefix;
}

<div class="mb-1 bg-white p-2 rounded-3">
  <div class="d-flex">
    <div>
      <icon name="zoom" color="native" size="256"/>
    </div>
    <div >
      <div class="ms-2">
        <strong class="card-title text-black">@T["Zoom meeting"]</strong>
        <p class="card-text">
          @if (Model.EndedAt != null) {
            <small class="text-muted">@T["Meeting ended"]: <time>@Model.EndedAt</time> </small>
          } else {
            <small class="text-muted">@T["Meeting ID"]: @(System.Text.RegularExpressions.Regex.Replace(Model.ProviderId, @"(\d{3})(\d{3})(\d{4})", "$1-$2-$3"))</small>
          }
          <br/>
          @if (Model.EndedAt != null) {
            if (Model.RecordingUrl != null) {
              <a href="@Model.RecordingUrl" target="_blank" class="@wy-button @wy-button-primary  mt-2">@Svg.Icon("play") @T["Play recording"]</a>
            }
          } else if (Model.CreatedById == WeavyContext.Current.User.Id) {
            <a href="@Model.JoinUrl" target="_blank" class="@wy-button @wy-button-primary mt-2">@T["Start"]</a>
          } else {
            <a href="@Model.JoinUrl" target="_blank" class="@wy-button @wy-button-primary mt-2">@T["Join"]</a>
          }
        </p>
      </div>
    </div>
  </div>
</div>
