@model Message
@{
    var user = Model.CreatedBy();
    var images = Model.Attachments().Where(x => FileUtils.IsImage(x.Blob.Name) && x.ThumbPlaceholderUrl() != null);
    var files = Model.Attachments().Except(images);
}
<turbo-frame id="@DomId(Model)">
    @if (Model.IsTrashed() && Model.HasPermission(Permission.Delete)) {
        <form class="alert alert-warning d-flex align-items-center justify-content-center my-3" asp-controller="@typeof(PostsController).ControllerName()" asp-action="@nameof(PostsController.Restore)" asp-route-id="@Model.Uid()">
            Post was trashed. <button type="submit" class="btn alert-link p-0 ms-1">@T["Undo"]</button>.
        </form>
    } else {
        <div class="card mb-2">
            <div class="card-header pe-1 d-flex align-items-center">
                <div class="flex-grow-1"><avatar for="@user" /> @user.GetTitle()</div>
                @if(Model.HasPermission(Permission.Update)){
                   <div>
                    <div class="dropdown">
                        <button type="button" class="btn btn-icon" data-bs-toggle="dropdown"><icon name="dots-vertical" /></button>
                        <div class="dropdown-menu">

                            @* @if (Model.IsPinned()) {
                                <a class="dropdown-item" asp-action="@nameof(PostController.Unpin)" asp-route-id="@Model.Id"><icon name="pin-off" /> @T["Unpin"]</a>
                                } else {
                                <a class="dropdown-item" asp-action="@nameof(PostController.Pin)" asp-route-id="@Model.Id"><icon name="pin" /> @T["Pin"]</a>
                                }

                                @if (Model.IsStarred()) {
                                <a class="dropdown-item" asp-action="@nameof(PostController.Unstar)" asp-route-id="@Model.Id"><icon name="star-off" /> @T["Unstar"]</a>
                                } else {
                                <a class="dropdown-item" asp-action="@nameof(PostController.Star)" asp-route-id="@Model.Id"><icon name="star" /> @T["Star"]</a>
                                }

                                @if (Model.IsFollowed()) {
                                <a class="dropdown-item" asp-action="@nameof(PostController.Unstar)" asp-route-id="@Model.Id"><icon name="bell-off" /> @T["Unsubscribe"]</a>
                                } else {
                                <a class="dropdown-item" asp-action="@nameof(PostController.Star)" asp-route-id="@Model.Id"><icon name="bell" /> @T["Subscribe"]</a>
                                }*@

                            <a class="dropdown-item" asp-controller="@typeof(PostsController).ControllerName()" asp-action="@nameof(PostsController.Edit)" asp-route-id="@Model.Uid()"><icon name="pencil" /> @T["Edit"]</a>
                            <hr class="dropdown-divider">
                            <form asp-action="@nameof(PostsController.Trash)" asp-route-id="@Model.Uid()"><button type="submit" class="dropdown-item"><icon name="delete" color="danger" /> @T["Trash"]</button></form>

                        </div>
                    </div>
                </div>
                }
               
            </div>

            @if (images.Any()) {
                <partial name="_ImageGrid" model="images" />
            }
            <div class="card-body">



                <div class="content">@Html.Raw(TextUtils.ToHtml(Model.Text))</div>

                @if (files.Any()) {
                    <partial name="_Attachments" model="files" />
                }

                @if (Model.Meeting != null) {
                    <partial name="_Meeting" model="Model.Meeting" />
                }

            </div>
            <div class="card-footer d-flex align-items-center">
                <div class="flex-grow-1">
                    <partial name="_Reactions" />
                </div>
                <div>
                    <small class="text-muted">3 comments</small>
                </div>
            </div>
        </div>
    }

</turbo-frame>
