@model MessageModel
@{
  var wy = ConfigurationService.ThemePrefix;
}
<div class="flex-grow-1" data-controller="attachments meetings file-picker" data-meetings-zoom-authentication-url-value="@ConfigurationService.ZoomAuthenticationUrl" data-meetings-teams-authentication-url-value="@ConfigurationService.TeamsAuthenticationUrl">

  <textarea class="form-control mb-2 d-none" data-editor-target="control" asp-for="Text" placeholder="@T[ViewBag.Placeholder]"></textarea>

  <div id="editor-container" data-editor-target="container" style="visibility: hidden;"></div>

  <div class="mb-2" data-attachments-target="list" data-file-picker-target="list">
    @if (Model != null && Model.Message != null) {
      @foreach (var attachment in Model.Message.Attachments()) {
        var icon = attachment.GetIcon();
        <div class="d-flex align-items-center">
          <icon name="@icon.Name" color="@icon.Color" class="mx-1" />
          @attachment.GetDisplayName()
          <input type="hidden" name="attachments" value="@attachment.Id" />
          <button type="button" class="@wy-button @wy-button-icon ms-auto" data-action="attachments#remove"><icon name="close" /></button>
        </div>
      }
    }

  </div>
  <div class="mb-2" data-meetings-target="list">
    @if (Model != null && Model.Message != null && Model.Message.Meeting != null) {
      var icon = Model.Message.Meeting.Icon;
      <turbo-frame id="@DomId($"meeting{Model.Message.MeetingId}")">
        <div class="d-flex align-items-center">
          <icon name="@icon" color="native" class="mx-1" />
          @Model.Message.Meeting.Title
          <input type="hidden" name="MeetingId" value="@Model.Message.MeetingId" />
          <button type="button" class="@wy-button @wy-button-icon ms-auto" data-action="meetings#remove" data-meetings-id-param="@Model.Message.MeetingId"><icon name="close" /></button>
        </div>
      </turbo-frame>
    }
  </div>
  <div class="d-flex">
    <div class="d-flex flex-grow-1">
      <div class="btn-group dropup">
        <button class="btn btn-icon" data-file-picker-target="dropdown" data-bs-toggle="dropdown" data-bs-auto-close="outside"><icon name="attachment" /></button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#" data-attachments-target="button" data-action="attachments#select"><icon name="laptop" /><span class="spinner-container d-none">@Svg.Spinner(size: 20, spin: false, prefix: wy) </span>@T["Your computer"]</a>
            <input class="form-control" type="file" data-attachments-target="input" data-action="change->attachments#upload" multiple hidden />
          </li>
          <li><a class="dropdown-item" href="https://filebrowser.weavycloud.com/index2.html"><icon name="cloud" /> Cloud </a></li>
          <li><a href="#" data-action="click->file-picker#open" data-file-picker-provider-param="dropbox">Dropbox</a></li>
          <li><a href="#" data-action="click->file-picker#open" data-file-picker-provider-param="onedrive">OneDrive</a></li>
          <li><a href="#" data-action="click->file-picker#open" data-file-picker-provider-param="google-drive">Google Drive</a></li>
          <li><a href="#" data-action="click->file-picker#open" data-file-picker-provider-param="box">Box</a></li>

        </ul>
      </div>

      @*<button type="button" class="btn btn-icon"><icon name="image-gif" /></button>*@
      @if (@ConfigurationService.ZoomMeetings) {
        <button type="button" class="btn btn-icon" data-meetings-target="button" data-action="meetings#add" data-meetings-provider-param="zoom"><icon name="zoom" color="native" />@Svg.Spinner(size: 20, spin: false, prefix: wy)</button>
      }
      @if (@ConfigurationService.TeamsMeetings) {
        <button type="button" class="btn btn-icon" data-meetings-target="button" data-action="meetings#add" data-meetings-provider-param="teams"><icon name="microsoft-teams" color="native" />@Svg.Spinner(size: 20, spin: false, prefix: wy)</button>
      }
      @*<button type="button" class="btn btn-icon"><icon name="poll-box" /></button>
        <button type="button" class="btn btn-icon"><icon name="emoticon" /></button>*@
    </div>
    <div>
      <button type="submit" class="btn btn-primary" data-editor-target="button">@T[ViewBag.SendButton]</button>
    </div>
  </div>
</div>


