@model Chat
@{
  HtmlAttributes.Add("data-allowed-origins", ConfigurationService.AllowedOrigins);
  HtmlAttributes.Add("data-theme-prefix", ConfigurationService.ThemePrefix);
  BodyAttributes.Add("data-app-uid", Model.Uid());
  BodyAttributes.Add("data-app-id", Model.Id.ToString());
  BodyAttributes.Add("data-user-id", WeavyContext.Current.User.Id.ToString());
  ViewData["NewMessageLabelBeforeId"] = Model.IsUnread() ? Model.Messages.FirstOrDefault(x => x.CreatedAt > (Model.Member.ReadAt ?? DateTime.MinValue))?.Id : null;
  ViewData["Conversation"] = Model;
  string wy = ConfigurationService.ThemePrefix;
}
<!DOCTYPE html>
<html data-controller="presence" class="@wy-scroll-y">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="turbo-cache-control" content="no-cache">
  <title>@Model.GetDisplayName()</title>
  <link rel="apple-touch-icon" href="@Url.AppleTouchIcon(180)" />
  <link rel="icon" type="image/svg+xml" href="@Url.Favicon()" />
  <link rel="icon" type="image/png" href="@Url.Favicon(32, ".png")" />
  <link rel="stylesheet" href="~/css/chat.css" asp-append-version="true" data-turbo-track="reload" />
  <script src="~/js/asap.js" asp-append-version="true" data-turbo-track="reload"></script>
  <script src="~/js/chat.js" asp-append-version="true" data-turbo-track="reload" async></script>
</head>
<body>

  <main role="main" class="@wy-pane" data-controller="chat scroll" data-action="load@window->scroll#toBottom turbo:load@window->scroll#toBottom" data-chat-events-value="[&quot;message-inserted&quot;,&quot;turbo-stream&quot;,&quot;reaction-inserted&quot;,&quot;reaction-deleted&quot;]" data-chat-group-value="@Model.Uid()">
    <div class="@wy-pane-body">
      <div id="messages" class="@wy-messages" style="visibility: hidden;" data-controller="pagination">
        <partial name="_Messages" model="Model.Messages" />
      </div>

      @* placeholder: cloned and placed in correct position on send *@
      <partial name="_MessagePlaceholder" />
    </div>
    <div id="readby-append" hidden></div>

    <partial name="_MessageForm" model="new MessageModel()" />
    <turbo-frame id="modal"></turbo-frame>
  </main>


</body>
</html>


