@model Chat
@{
  HtmlAttributes.Add("data-allowed-origins", ConfigurationService.AllowedOrigins);
  BodyAttributes.Add("data-app-uid", Model.Eid());
  BodyAttributes.Add("data-app-id", Model.Id.ToString());
  BodyAttributes.Add("data-user-id", WeavyContext.Current.User.Id.ToString());
}
<!DOCTYPE html>
<html data-controller="authenticate presence" class="wy-scroll-y">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="turbo-cache-control" content="no-cache">
  <title>@Model.DisplayName</title>
  <link rel="apple-touch-icon" href="@Url.AppleTouchIcon(180)" />
  <link rel="icon" type="image/svg+xml" href="@Url.Favicon()" />
  <link rel="icon" type="image/png" href="@Url.Favicon(32, ".png")" />
  <link rel="stylesheet" href="~/css/chat.css" asp-append-version="true" data-turbo-track="reload" />
  <script src="~/js/asap.js" asp-append-version="true" data-turbo-track="reload"></script>
  <script src="~/js/chat.js" asp-append-version="true" data-turbo-track="reload" async></script>
</head>
<body>

  <main
    role="main"
    class="wy-main wy-pane wy-pane-background"
    data-controller="chat pagination scroll message"
    data-pagination-mode-value="reverse"
    data-pagination-deferred-value="true"
    data-action="load@window->scroll#toBottom turbo:load@window->scroll#toBottom scroll:at-bottom->pagination#setup"
    data-chat-events-value="[&quot;message_created&quot;,&quot;read_by&quot;,&quot;reaction_added&quot;,&quot;reaction_removed&quot;]"
    data-chat-group-value="@Model.Eid()">
    <div class="wy-pane-body">
      <div id="messages" class="wy-messages" data-message-target="container" style="visibility: hidden;">
        <partial name="_MessagePlaceholder" />
        <partial name="_Messages" model="Model.Messages" />
      </div>
    </div>
    <div id="readby-append" hidden></div>
    <partial name="_MessageForm" model="new MessageModel { Parent = Model }" />
    <turbo-frame id="sheet"></turbo-frame>
  </main>
</body>
</html>


