@model File
@{
  var icon = FileUtils.GetIcon(Model);
}

<tr id="@DomId(Model)" @Html.If(Model.IsTrashed(), @"class=""wy-table-trashed""", $@"data-controller=""rename"" data-action=""click->preview#open"" data-preview-url-param=""{Url.Action(nameof(PreviewController.Get), typeof(PreviewController).ControllerName(), new { id = Model.Id })}"" data-preview-title-param=""{Model.Name}""")>
  <td><icon name="@icon" /></td>
  <td><partial name="_Rename" model="Model" view-data="ViewData" /></td>
  <td><time date="@Model.ModifiedAt">@Model.ModifiedAt.ToLocal().ToShortDateString()</time></td>
  <td>@Model.GetKind()</td>
  <td>@FileUtils.FileSizeAsString(Model.Blob.Size)</td>
  <td>
    <div class="wy-dropdown">
      <button type="button" class="wy-button wy-button-icon" data-bs-toggle="dropdown"><icon name="dots-vertical" /></button>
      <div class="wy-dropdown-menu dropdown-menu">
        @if (Model.IsTrashed()) {
          <form asp-controller="@typeof(FilesController).ControllerName()" asp-action="@nameof(FilesController.Restore)" asp-route-id="@Model.Id"><button type="submit" class="wy-dropdown-item"><icon name="restore-from-trash" /> @T["Restore"]</button></form>
          <hr class="wy-dropdown-divider">
          <form asp-controller="@typeof(FilesController).ControllerName()" asp-action="@nameof(FilesController.Delete)" asp-route-id="@Model.Id">
            @Html.HttpMethodOverride(HttpMethod.Delete)
            <button type="submit" class="wy-dropdown-item"><icon name="delete-forever" />@T["Delete"]</button>
          </form>
        } else {
          @if (Model.Blob.Provider != null) {
            <a class="wy-dropdown-item" href="@Model.Blob.Link" target="_blank"><icon name="@Model.Blob.Provider.ToKebabCase()" /> @T["Open in {0}", Model.Blob.Provider]</a>           
          } else {
            if (FileUtils.IsOfficeDocument(Model.Name)) {
              <a class="wy-dropdown-item" href="@Model.OfficeUrl(hmac: true)"><icon name="@icon" /> @T["Open in {0}", FileUtils.OpenWith(Model.Name)] </a>
            }
            <a class="wy-dropdown-item" href="@Model.Url()" download><icon name="download" />@T["Download"]</a>
          }

          <hr class="wy-dropdown-divider">
          <button class="wy-dropdown-item" data-action="click->rename#open"><icon name="textbox" />@T["Rename"]</button>
          <form asp-controller="@typeof(FilesController).ControllerName()" asp-action="@nameof(FilesController.Trash)" asp-route-id="@Model.Id"><button type="submit" class="wy-dropdown-item"><icon name="delete" /> @T["Trash"]</button></form>
        }
      </div>
    </div>
  </td>
</tr>

