@model File
@{
  var name = ViewData["Name"] ?? Model.Name;
}
@if (Model.IsTrashed()) {
  <a>@name</a>      
} else {
<turbo-frame id="@DomId(Model)">
  <a href="@(Model.Blob.Link ?? Model.Url())" data-rename-target="name" data-action="preview#open" data-preview-url-param="@Url.Action(nameof(PreviewController.Get), typeof(PreviewController).ControllerName(), new { id = Model.Id })" data-preview-title-param="@name">@name</a>
  <form asp-action="@nameof(FilesController.Edit)" asp-route-id="@Model.Id" method="post" data-rename-target="form" hidden>
    <input asp-for="Name" class="wy-input-sm" data-rename-target="input" />
    <button type="submit" class="wy-button" data-rename-target="submit" hidden>@T["Submit"]</button>
  </form>  
</turbo-frame>
}
