@model Files
@{
  HtmlAttributes.Add("data-allowed-origins", ConfigurationService.AllowedOrigins);
  BodyAttributes.Add("data-app-id", Model.Id.ToString());
  BodyAttributes.Add("data-user-id", WeavyContext.Current.User.Id.ToString());
}
<!DOCTYPE html>
<html data-controller="authenticate files preview-link" data-files-uploading-class="wy-uploading" class="wy-scroll-y" data-files-app-value="@Model.Id" data-files-external-url-value="@($"/dropin/files/{Model.Id}/external")" data-files-target="dragzone">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>@Model.DisplayName</title>
  <link rel="apple-touch-icon" href="@Url.AppleTouchIcon(180)" />
  <link rel="icon" type="image/svg+xml" href="@Url.Favicon()" />
  <link rel="icon" type="image/png" href="@Url.Favicon(32, ".png")" />
  <link rel="stylesheet" href="~/css/files.css" asp-append-version="true" data-turbo-track="reload" />
  <script src="~/js/asap-files.js" asp-append-version="true" data-turbo-track="reload"></script>
  <script src="~/js/files.js" asp-append-version="true" data-turbo-track="reload" async></script>
</head>
<body data-files-target="dropzone">

  <header class="wy-appbars">
    <nav class="wy-toolbar">
      <div class="wy-toolbar-buttons">
        <div class="wy-dropdown">
          <button class="wy-button" data-bs-toggle="dropdown"><span>Add files</span><icon name="plus" /></button>
          <ul class="wy-dropdown-menu dropdown-menu">
            <li>
              <button type="button" class="wy-dropdown-item" data-action="files#select"><icon name="attachment" />@T["From device"]</button>
              <input class="form-control" type="file" accept="@FileUtils.GetAcceptedFileTypes()" data-files-target="input" data-action="change->files#handleSelect" multiple hidden />
            </li>
            <li><button type="button" class="wy-dropdown-item" data-action="click->files#openExternalPicker"><icon name="cloud" /> @T["From cloud"] </button></li>
          </ul>
        </div>
      </div>
      <div></div>
      <div class="wy-toolbar-buttons wy-toolbar-buttons-last">
        <button class="wy-button wy-button-icon" data-action="click->files#toggleSheet" data-files-target="uploadButton" hidden>
          <icon name="spinner" class="wy-spin" data-files-target="iconUploading" hidden />
          <icon name="check" data-files-target="iconComplete" hidden/>
          <icon name="alert" color="error" data-files-target="iconError" hidden/>
        </button>
        <partial name="_SortMenu" model="Model.Items.Query" />
        <partial name="_ViewMenu" model="Model.Items.Query" />

        <div class="wy-dropdown">
          <button type="button" class="wy-button wy-button-icon" data-bs-toggle="dropdown"><icon name="dots-vertical" /></button>
          <div class="wy-dropdown-menu dropdown-menu">
              @*<a class="wy-dropdown-item" href="#"><icon name="star" /> @T["Star/Unstar"]</a>*@
            <partial name="_FollowMenuItem" />
              @if (Model.CanDownloadChildrenAsArchive()) {
              <a class="wy-dropdown-item" data-turbo="false" asp-controller="@typeof(FilesController).ControllerName()" asp-action="@nameof(FilesController.GetArchive)" asp-route-id="@Model.Id"><icon name="download" /> @T["Download files"]</a>
              }
          </div>
        </div>
      </div>
    </nav>  
  </header>

    @if (Model.Items.Query.Layout == null || Model.Items.Query.Layout == Weavy.Core.Models.Layout.List) {
    <table class="wy-table wy-table-hover wy-table-files">
      <partial name="_SortHeaders" model="Model.Items.Query" />

      <tbody data-controller="pagination" data-files-target="content" data-file-picker-target="list" id="file-list">
        <partial name="_List" model="Model.Items" />
      </tbody>
    </table>
    }

    @if (Model.Items.Query.Layout == Weavy.Core.Models.Layout.Grid) {
      <div class="wy-grid wy-pane-group" data-controller="pagination" data-files-target="content" data-file-picker-target="list" id="file-list">
        <partial name="_Grid" model="Model.Items" />
      </div>
    }

  @*<div class="wy-sheet" data-files-target="modal" data-files--target="modal" hidden>
    <div class="wy-appbar">
      <div></div>
      <div class="appbar-text">Upload failed</div>
      <button type="button" class="wy-button wy-button-icon" data-action="click->sheet#close"><icon name="close" /></button>
    </div>
    <div class="wy-sheet-body wy-file-upload-errors wy-scroll-y" data-files-target="modalBody" data-file-picker-target="modalBody"></div>
  </div>*@


  <div class="wy-sheet" data-controller="sheet" hidden data-sheet-open-on-connect-value="false" data-files-target="uploadSheet">
    <div class="wy-appbar">
      <div></div>
      <div class="wy-appbar-text">@T["File upload"]</div>
      <div class="wy-appbar-buttons">
        <button type="button" class="wy-button wy-button-icon" data-action="click->sheet#close"><icon name="close" /></button>
      </div>
    </div>
    <div class="wy-sheet-body wy-scroll-y" data-files-target="progressContainer">
    </div>
  </div>

</body>
</html>
