@model Files
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>@Model.GetTitle()</title>
  <link rel="apple-touch-icon" href="@Url.AppleTouchIcon(180)" />
  <link rel="icon" type="image/svg+xml" href="@Url.Favicon()" />
  <link rel="icon" type="image/png" href="@Url.Favicon(32, ".png")" />
  <link rel="stylesheet" href="~/css/files.css" asp-append-version="true" data-turbo-track="reload" />
  <script src="~/js/asap.js" asp-append-version="true" data-turbo-track="reload"></script>
  <script src="~/js/files.js" asp-append-version="true" data-turbo-track="reload" async></script>
</head>
<body>

  <form class="row m-0 px-1 py-3 bg-dark" asp-action="@nameof(FilesController.Upload)" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">
    <div class="col"><input class="form-control" name="file" type="file" multiple /></div>
    <div class="col-auto"><button type="submit" class="btn btn-primary">@T["Upload"]</button></div>
  </form>

  <table class="table table-hover table-icons table-files">
    <thead>
      <tr>
        <th></th>
        <th>@T["Name"]</th>
        <th>@T["Modified"]</th>
        <th>@T["Kind"]</th>
        <th>@T["Size"]</th>
        <th></th>
      </tr>
    </thead>
    <tbody data-controller="pagination">
      <partial name="_Files" model="Model.Items" />
    </tbody>
  </table>
</body>
</html>
