@model File
@{
  var fmt = Model.Blob == null ? PreviewFormat.None : (Model.Blob.Link != null ? PreviewFormat.Icon : FileUtils.GetPreviewFormat(Model.Blob.Name));
  if (fmt == PreviewFormat.Image && Model.ThumbPlaceholderUrl() == null) {
    // image metadata not available yet? display icon for now
    fmt = PreviewFormat.Icon;
  }
}

<article class="content-area scroll-y" data-turbo-permanent id="content-@Model.Id" data-type="content" data-id="@Model.Id" data-content-id="@Model.Id">
  <section class="content-viewer">

    @if (fmt == PreviewFormat.Text) {

      // TODO: Replace highlight.js with server-side highlighting
      var lang = FileUtils.SyntaxHighlight(Model.GetTitle());
      <div class="content-text@(lang != null ? " content-code" : "")">
        @if (lang != null) {
          <pre data-controller="highlight" class="language-@lang line-numbers"><code class="language-@lang">@System.IO.File.ReadAllText(BlobService.GetContent(Model.Blob).FullName)</code></pre>
        } else {
          <pre class="document">@System.IO.File.ReadAllText(BlobService.GetContent(Model.Blob).FullName)</pre>
        }
      </div>

    } else if (fmt == PreviewFormat.Image) {

      // our thumb function cannot handle animated gifs, and svgs don't need to be resized
      var ext = FileUtils.GetExtension(Model.Blob.Name);
      var src = (ext == ".gif" || ext == ".svg") ? Model.Url() : Model.ThumbUrl(1920, 1920);

      if (Model.Blob.Width != null && Model.Blob.Height != null) {
        <div class="content-image responsive-image" style="--width: @Model.Blob.Width; --height: @Model.Blob.Height">
          <img data-controller="image" src="@src" width="@Model.Blob.Width" height="@Model.Blob.Height" decoding="async" />
          @Svg.Spinner(spin: true)
        </div>
      } else {
        <div class="content-image responsive-image intrinsic-image">
          <img data-controller="image" src="@src" decoding="async" />
        </div>
      }

    } else if (fmt == PreviewFormat.Document) {

      <div data-controller="pdf" data-pdf-url-value="@Model.Url(extension: ".pdf", cachebust: true)" class="pdf-preview">
        <div class="pdf-toolbar">
          <nav>
            <div class="page-selector d-none d-sm-block">
              <input type="text" class="pagenumber" data-action="change->pdf#updatePage click->pdf#select" data-pdf-target="pageNumber" />
              <span class="separator">/</span>
              <span data-pdf-target="totalPages" style="min-width:.75rem; display:inline-block"></span>
            </div>
            <span class="vertical-separator d-none d-sm-block"></span>
            <button class="btn btn-icon btn-zoom-out" data-action="click->pdf#zoomOut" title="@T["Zoom out"]"><icon name="minus" color="white" /></button>
            <input type="text" data-action="change->pdf#updateZoom click->pdf#select" data-pdf-target="zoomLevel" />
            <button class="btn btn-icon btn-zoom-in" data-action="click->pdf#zoomIn" title="@T["Zoom in"]"><icon name="plus" color="white" /></button>
            <span class="vertical-separator"></span>
            <button class="btn btn-icon btn-fit-page" data-action="click->pdf#fitToWidth" title="@T["Fit to width"]"><icon name="fit-width" color="white" /></button>
            <button class="btn btn-icon" data-action="click->pdf#fitToPage" title="@T["Fit to screen"]"><icon name="fit-screen" color="white" /></button>
          </nav>
        </div>
        <div class="pdf-viewerContainer">
          <div id="viewer" class="pdfViewer"></div>
        </div>
      </div>

    } else if (fmt == PreviewFormat.Video) {
      <video id="content-video" data-controller="media" class="content-video" controls crossorigin="use-credentials" autoplay>
        <source src="@Model.Url()" type="@Model.Blob.MediaType" />
        <div class="content-media">
          <div class="content-icon">
            @Svg.Icon(Model.GetIcon())
          </div>
          <div class="content-name">
            <a href="@Model.Url()" download>@Model.GetTitle()</a>
          </div>
        </div>
      </video>
      @Svg.Spinner(spin: true)

    } else if (fmt == PreviewFormat.Audio) {

      <div class="content-media">
        <div class="content-icon">
          @Svg.Icon(Model.GetIcon())
        </div>
        <div class="content-name">
          <a href="@Model.Url()" download>@Model.GetTitle()</a>
        </div>
        <audio id="content-audio" data-controller="media" class="content-audio mt-3" controls crossorigin="use-credentials" autoplay>
          <source src="@Model.Url()" type="@Model.Blob.MediaType" />
        </audio>
      </div>
    } else if (Model.Blob?.Embed != null && WeavyContext.Current.Browser.Platform != "iOS") {
      @* iframe needs to be object to not render error pages when content is blocked *@
      <object data-controller="embed" class="content-iframe" data="@Model.Blob.Embed"></object>

      @Svg.Spinner(spin: true)

      <div class="content-media content-iframe-fallback">
        <div class="content-icon">
          @Svg.Icon(Model.GetIcon())
        </div>
        <div class="content-name">
          <a href="@Model.Blob.Link" target="_blank" title="@T["Open in {0}", Model.Blob.Provider]">@Model.GetTitle() @Svg.Icon("open-in-new", null, 18)</a>
        </div>
      </div>

    } else if (Model.Blob?.Link != null) {

      <div class="content-media">
        <div class="content-icon">
          @Svg.Icon(Model.GetIcon())
        </div>
        <div class="content-name">
          <a href="@Model.Blob.Link" target="_blank" title="@T["Open in {0}", Model.Blob.Provider]">@Model.GetTitle() @Svg.Icon("open-in-new", null, size: 18)</a>
        </div>
      </div>

    } else if (fmt != PreviewFormat.None) {

      <div class="content-media">
        <div class="content-icon">
          @Svg.Icon(Model.GetIcon())
        </div>
        <div class="content-name">
          <a href="@Model.Url()" download>@Model.GetTitle()</a>
        </div>
      </div>

    }

  </section>
</article>
