@{
  HtmlAttributes.Add("data-allowed-origins", ConfigurationService.AllowedOrigins);
}
<!DOCTYPE html>
<html data-controller="authenticate presence" class="wy-scroll-y">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="turbo-cache-control" content="no-cache">
  <title>Messenger | @Application.Name</title>
  <link rel="apple-touch-icon" href="@Url.AppleTouchIcon(180)" />
  <link rel="icon" type="image/svg+xml" href="@Url.Favicon()" />
  <link rel="icon" type="image/png" href="@Url.Favicon(32, ".png")" />
  <link rel="stylesheet" href="~/css/messenger.css" asp-append-version="true" data-turbo-track="reload" />
  <script src="~/js/asap.js" asp-append-version="true" data-turbo-track="reload"></script>
  <script src="~/js/messenger.js" asp-append-version="true" data-turbo-track="reload" async></script>
</head>
<body>
  @RenderBody()
</body>
</html>
