@model Conversation

@if (Model.IsPinned()) {
    <form asp-controller="@typeof(MessengerController).ControllerName()" asp-action="@nameof(MessengerController.Unpin)" asp-route-id="@Model.Id">
        <button type="submit" class="wy-dropdown-item"><icon name="pin-off" /> @T["Unpin"]</button>
    </form>
} else {
    <form asp-controller="@typeof(MessengerController).ControllerName()" asp-action="@nameof(MessengerController.Pin)" asp-route-id="@Model.Id">
        <button type="submit" class="wy-dropdown-item"><icon name="pin" /> @T["Pin"]</button>
    </form>
}
