@model Conversation

@if (Model.IsUnread()) {
    <form id="@DomId(Model)" asp-controller="@typeof(MessengerController).ControllerName()" asp-action="@nameof(MessengerController.Read)" asp-route-id="@Model.Id" asp-route-messageId="@Model.LastMessage.Id">
        <button type="submit" class="wy-dropdown-item"><icon name="check" /> @T["Mark as read"]</button>
    </form>
} else {
    <form id="@DomId(Model)" asp-controller="@typeof(MessengerController).ControllerName()" asp-action="@nameof(MessengerController.Unread)" asp-route-id="@Model.Id">
        <button type="submit" class="wy-dropdown-item"><icon name="message-badge" /> @T["Mark as unread"]</button>
    </form>
}
