@model UpdateConversationModel
@{
  Layout = "_Layout";
}

<main class="pane">
  <header class="appbars sticky-top" data-adjust-scrollbar-top>
    <nav class="appbar appbar-light">
      <div class="appbar-left">
        <button class="btn btn-icon close-back">@Svg.Icon("close")</button>
      </div>
      <div class="appbar-middle">
        <div class="appbar-text">@T["Details"]</div>
      </div>
      <div class="appbar-right">
      </div>
    </nav>
  </header>
  <div class="pane-body">
    <div class="p-4 mx-auto">
      <avatar for="Model.Conversation" size="128" />
    </div>

    @if (Model.Conversation is PrivateChat) {
      <h1 class="display-6 text-center">@Model.Name</h1>
      @* REVIEW: display profile details and, contact information? *@
    } else {
      <div class="px-3">
        <form asp-action="@nameof(MessengerController.Update)" asp-route-id="@GetRouteValue("id")" asp-route-conversationId="@Model.Conversation.Id" data-turbo-frame="searchresult" class="pb-2">
          <label asp-for="Name" class="form-label"></label>
          <input asp-for="Name" type="text" class="form-control">
          <div asp-description-for="Name" class="form-text"></div>
          <div class="mt-3" data-controller="search" data-search-searching-class="searching">
            <label class="form-label">@T["Members"]</label>
            <div class="search-form px-0">
              <button type="reset" class="btn btn-icon start-0" title="@T["Clear"]" data-search-target="reset"><icon name="close" size="20" /></button>
              <button class="btn btn-icon start-0" type="submit" title="@T["Search"]" data-search-target="submit" formaction="@Url.Action(nameof(MessengerController.SearchUsers))"><icon name="magnify" size="20" /></button>
              <input type="search" name="text" class="form-control form-control-sm" placeholder="@T["Search..."]" autocomplete="off" data-search-target="input">
            </div>
            <partial name="_SearchUsersResult" model="new UserSearchResult()" />
          </div>
          <div class="form-group-bottom" data-adjust-scrollbar-bottom>
            <div class="form-buttons">
              <input type="submit" class="btn btn-primary" value="@T["Save"]" data-turbo-frame="_top">
            </div>
          </div>
        </form>
      </div>
    }
  </div>
</main>
