@model UpdateConversationModel
@{
  Layout = "_Layout";
}
<main class="wy-pane">
  <header class="wy-appbars" data-adjust-scrollbar-top>
    <nav class="wy-appbar">
      <button class="wy-button wy-button-icon wy-close-back">@Svg.Icon("close")</button>
      <div class="wy-appbar-text">@T["Details"]</div>
    </nav>
  </header>
  <div class="wy-pane-body">
    <div class="wy-avatar-header">
      <avatar for="Model.Conversation" size="128" />
      @if (Model.Conversation is PrivateChat) {
        <h3 class="wy-headline">@Model.Name</h3>
      }
    </div>

    @if (Model.Conversation is PrivateChat) {
      @* REVIEW: display profile details and, contact information? *@
    } else {
      <form asp-action="@nameof(MessengerController.Update)" asp-route-id="@Model.Conversation.Id">
        <div class="wy-pane-group">
          <label asp-for="Name" class="wy-input-label"></label>
          <input asp-for="Name" type="text" class="wy-input" value="@Model.Name" />
          <div asp-description-for="Name" class="wy-description"></div>
        </div>
        <div class="wy-pane-group">
          <label class="wy-input-label">@T["Members"]</label>
          <partial name="_ConversationUsers" model="new UserSearchResult()" />
        </div>
        <div class="wy-footerbars wy-footerbars-fixed" data-adjust-scrollbar-bottom>
          <div class="wy-footerbar">
            <div class="wy-pane-group wy-buttons">
              <input type="submit" class="wy-button wy-button-primary" value="@T["Save"]">
            </div>
          </div>
        </div>
      </form>
    }
  </div>
</main>
