@model Messenger
@{
    Layout = "_Layout";
    BodyAttributes.Add("data-user-id", WeavyContext.Current.User.Id.ToString());
}

<main role="main" class="pane" data-controller="turbo-stream badge" data-badge-apps-value="[@Model.Id]" data-turbo-stream-app-value="@Model.Id">
  <header class="appbars sticky-top" data-adjust-scrollbar-top>
    <nav class="appbar appbar-light">
      <div class="appbar-left">
        <avatar for="WeavyContext.Current.User" class="m-1" size="24" />
      </div>
      <div class="appbar-middle">
        <div class="appbar-text"><a class="btn-link" asp-controller="@typeof(MessengerController).ControllerName()" asp-action="@nameof(MessengerController.Index)" asp-route-id="@Model.Id">@T["Messenger"]</a></div>
      </div>
      <div class="appbar-right">
        <a class="btn btn-icon btn-color btn-primary" asp-controller="@typeof(MessengerController).ControllerName()" asp-action="@nameof(MessengerController.New)" asp-route-id="@Model.Id" data-target="modal" title="@T["New message"]"><icon name="message-plus" /></a>
      </div>
    </nav>
  </header>
  <div class="pane-body" data-controller="pagination">
    <form class="search-form" role="search" data-controller="search" data-turbo-frame="conversations" data-search-searching-class="searching">
      <button type="reset" class="btn btn-icon" title="@T["Clear"]" data-search-target="reset"><icon name="close" size="20" /></button>
      <button type="submit" class="btn btn-icon" title="@T["Search"]" data-search-target="submit"><icon name="magnify" size="20" /></button>
      <input type="search" class="form-control form-control-sm" name="text" value="@Model.Conversations.Query.Text"  placeholder="@T["Search..."]" autocomplete="off" data-search-target="input">
    </form>
    <partial name="_Conversations" model="Model.Conversations" />
  </div>
</main>
