@model Messenger
@{
    Layout = "_Layout";
    BodyAttributes.Add("data-user-id", WeavyContext.Current.User.Id.ToString());
}

<main role="main" class="wy-pane" data-controller="badge messenger" data-messenger-events-value="[&quot;member-added&quot;,&quot;app-inserted&quot;]"> 
  <header class="wy-appbars" data-adjust-scrollbar-top>
    <nav class="wy-appbar">
      <avatar for="WeavyContext.Current.User" size="24" />
      <a class="wy-appbar-text" asp-controller="@typeof(MessengerController).ControllerName()" asp-action="@nameof(MessengerController.Index)">@T["Messenger"]</a></a>
      <a class="wy-button wy-button-icon" asp-controller="@typeof(MessengerController).ControllerName()" asp-action="@nameof(MessengerController.New)" data-target="modal" title="@T["New message"]"><icon name="message-plus" color="primary" /></a>
    </nav>
  </header>
  <div class="wy-pane-body" data-controller="pagination">
    <form class="wy-search-form wy-pane-group" role="search" data-controller="search" data-turbo-frame="conversations" data-search-searching-class="wy-searching">
        <button type="reset" class="wy-button wy-button-icon" title="@T["Clear"]" data-search-target="reset"><icon name="close-circle" size="20" /></button>
        <button type="submit" class="wy-button wy-button-icon" title="@T["Search"]" data-search-target="submit"><icon name="magnify" size="20" /></button>
        <input type="search" class="wy-search-input" name="text" value="@Model.Conversations.Query.Text"  placeholder="@T["Search..."]" autocomplete="off" data-search-target="input">
    </form>
    <partial name="_Conversations" model="Model.Conversations" />
  </div>
</main>
