@model UserSearchResult
@{
  Layout = "_Layout";
}
<header class="wy-appbars" data-adjust-scrollbar-top>
  <nav class="wy-appbar">
    <button class="wy-button wy-button-icon wy-close-back">@Svg.Icon("close")</button>
    <div class="wy-appbar-text">@T["New message"]</div>
  </nav>
</header>

<main class="wy-search">
  <form id="newform" asp-action="@nameof(MessengerController.Create)" data-controller="form search" data-form-key-value="users" data-turbo-frame="searchresult" data-search-searching-class="wy-searching">
    <div class="wy-search-form wy-pane-group">
      <button type="reset" class="wy-button wy-button-icon" title="@T["Clear"]" data-search-target="reset"><icon name="close-circle" size="20" /></button>
      <button class="wy-button wy-button-icon" type="submit" title="@T["Search"]" data-search-target="submit" formaction="@Url.Action(nameof(MessengerController.SearchUsers))"><icon name="magnify" size="20" /></button>
      <input type="search" value="@Model.Query.Text" name="text" class="wy-search-input" placeholder="@T["Search..."]" autocomplete="off" data-search-target="input">
    </div>
    <div class="wy-pane-group">
      <partial name="_SearchUsersResult" />
    </div>
    <div class="wy-footerbars wy-footerbars-fixed" data-adjust-scrollbar-bottom>
        <div class="wy-footerbar">
          <div class="wy-pane-group wy-buttons">
            <button type="submit" class="wy-button wy-button-primary" title="@T["Next"]" form="newform" formaction="@Url.Action(nameof(MessengerController.Create))" data-turbo-frame="_top" disabled>@T["Next"]</button>
          </div>
        </div>
    </div>
  </form>
</main>
