@model Comments
@{
  HtmlAttributes.Add("data-allowed-origins", ConfigurationService.AllowedOrigins);
  HtmlAttributes.Add("data-theme-prefix", ConfigurationService.ThemePrefix);
}
<!DOCTYPE html>
<html data-controller="turbo-stream" data-turbo-stream-app-value="@Model.Id">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>@Model.GetDisplayName()</title>
  <link rel="apple-touch-icon" href="@Url.AppleTouchIcon(180)" />
  <link rel="icon" type="image/svg+xml" href="@Url.Favicon()" />
  <link rel="icon" type="image/png" href="@Url.Favicon(32, ".png")" />
  <link rel="stylesheet" href="~/css/comments.css" asp-append-version="true" data-turbo-track="reload" />
  <script src="~/js/asap.js" asp-append-version="true" data-turbo-track="reload"></script>
  <script src="~/js/comments.js" asp-append-version="true" data-turbo-track="reload" async></script>
</head>
<body>
  <main role="main" class="m-3" data-controller="pagination">
    @if (Model.Reverse) {
      <partial name="_CommentForm" model="new MessageModel()" />
      }
    <partial name="_Comments" model="Model.Items" />
      @if (!Model.Reverse) {
      <partial name="_CommentForm" model="new MessageModel()" />
      }

  </main>
  <turbo-frame id="modal"></turbo-frame>
</body>
</html>
